# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/MyBlogWebsite/FileContentIndex/67a02b59-2ab4-4f1d-adc9-0b86cf4393a2.vsidx
.vs/MyBlogWebsite/FileContentIndex/44b919cf-d8d5-4189-873c-58921bcf38d4.vsidx
.vs/MyBlogWebsite/FileContentIndex/13f3c091-a618-4d28-abf8-3296991d5ba1.vsidx
.vs/MyBlogWebsite/FileContentIndex/98b4d26e-fc0f-4305-a25e-68a2bf3985f0.vsidx
DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/MyBlogWebsite/v17/.suo
.vs/MyBlogWebsite/FileContentIndex/0c215504-97a1-4ecb-8a93-c50ed3c38e3e.vsidx
.vs/MyBlogWebsite/FileContentIndex/b9e15fc5-fbd8-4568-acb9-b80b4475d416.vsidx
.vs/MyBlogWebsite/FileContentIndex/225ac891-7e56-4112-8497-f3698492d2c5.vsidx
.vs/MyBlogWebsite/FileContentIndex/8547cb58-92ce-4cb8-baee-89d712228947.vsidx
.vs/MyBlogWebsite/FileContentIndex/6a77e6b9-6edb-4c6b-8c75-6ad4f51b91c8.vsidx
.vs/MyBlogWebsite/FileContentIndex/1d552011-6d62-4805-be98-c20558665c85.vsidx
.vs/MyBlogWebsite/FileContentIndex/08a5e702-91aa-4378-a937-93aeba77200f.vsidx
DataAccessLayer/Repositories/GenericRepository.cs
.vs/MyBlogWebsite/FileContentIndex/86f84b29-685a-40df-a0a2-7be5cc1617c6.vsidx
.vs/MyBlogWebsite/FileContentIndex/1127f1e5-bf41-42f0-94a8-4508887d2fed.vsidx
.vs/MyBlogWebsite/FileContentIndex/fe058579-90e6-4ddc-be80-5d6b2b9f6774.vsidx
.vs/MyBlogWebsite/FileContentIndex/0abfc065-4c52-4262-ac51-87d772db0e24.vsidx
.vs/MyBlogWebsite/FileContentIndex/37115385-9630-416a-ab62-83b708e20dba.vsidx
DataAccessLayer/Migrations/202308251435244_addwriterstatus.cs
.vs/MyBlogWebsite/FileContentIndex/913e8066-b19d-422e-8f10-89fc5414f4e0.vsidx
BusinessLayer/obj/Debug/BusinessLayer.csproj.AssemblyReference.cache
.vs/MyBlogWebsite/FileContentIndex/14cb9ef1-f24a-49df-84a5-3351661e3e21.vsidx
.vs/MyBlogWebsite/v17/.suo
.vs/MyBlogWebsite/FileContentIndex/b0c82d4c-8f07-4648-91ae-bdef8c124659.vsidx
.vs/MyBlogWebsite/FileContentIndex/dd3c20e0-cf33-4318-8691-b2008cbd6686.vsidx
.vs/MyBlogWebsite/FileContentIndex/83499556-c096-41d3-8ef3-9de314556d41.vsidx
BusinessLayer/obj/Debug/BusinessLayer.csproj.AssemblyReference.cache
BusinessLayer/BusinessLayer.csproj
.vs/MyBlogWebsite/FileContentIndex/645612c3-b154-4275-a350-c0273f0aad3f.vsidx
.vs/MyBlogWebsite/v17/.suo
.vs/MyBlogWebsite/FileContentIndex/342681e1-e24e-4eb7-86c2-8dc239d30694.vsidx
.vs/MyBlogWebsite/FileContentIndex/1b99a888-a4bb-4c38-83da-08357acb2261.vsidx
.vs/MyBlogWebsite/FileContentIndex/e214d3c7-e458-4212-a707-29e4d8435e89.vsidx
MyBlogWebsite/AdminLTE-3.0.4/colorlib-error-404-10/readme.txt
DataAccessLayer/Migrations/202308311810054_createimagefile.cs
.vs/MyBlogWebsite/FileContentIndex/8bd56828-aa15-4b89-b7cf-20f3cdf7dceb.vsidx
DataAccessLayer/obj/Debug/DataAccessLayer.Migrations.addadmin.resources
MyBlogWebsite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
