# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/MyBlogWebsite/FileContentIndex/67a02b59-2ab4-4f1d-adc9-0b86cf4393a2.vsidx
.vs/MyBlogWebsite/FileContentIndex/44b919cf-d8d5-4189-873c-58921bcf38d4.vsidx
.vs/MyBlogWebsite/FileContentIndex/13f3c091-a618-4d28-abf8-3296991d5ba1.vsidx
.vs/MyBlogWebsite/FileContentIndex/98b4d26e-fc0f-4305-a25e-68a2bf3985f0.vsidx
DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/MyBlogWebsite/v17/.suo
.vs/MyBlogWebsite/FileContentIndex/0c215504-97a1-4ecb-8a93-c50ed3c38e3e.vsidx
