
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form form-group" method="post">
    <input type="text" placeholder="Category Name" name="CategoryName" class="form-control" /><br />
    <input type="text" placeholder="Information" name="CategoryDescription" class="form-control" /><br />
    <input type="text" placeholder="Status" name="CategoryStatus" class="form-control" /><br />
    <button class="btn btn-primary">Ekle</button>
</form>
