
@{
    Layout = null;
}
<h3>Blog Sitesi Ornek</h3>
<br />
<table>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Information</th>
        <th>Status</th>
    </tr>
</table>